name: "Shelly Pro 3EM Emulator (DEV)"
description: "Emuliert ein Shelly Pro 3EM mit lokalen Sensorwerten"
version: "0.0.1.34-dev"
url: https://github.com/thkopp/hassio-addons/tree/main/addon-shelly-emu
slug: "shelly_emulator"

arch:
  - amd64
  - aarch64
build_from:
  amd64: "ghcr.io/home-assistant/amd64-base:latest"
  aarch64: "ghcr.io/home-assistant/aarch64-base:latest"

image: "ghcr.io/thkopp/addon-shelly-emu-dev"

init: true
boot: "manual"
startup: "application"

ingress: true
ingress_port: 8089
panel_icon: "icon: mdi:meter-electric-outline"
panel_title: "Shelly Pro 3EM Emu"

ports:
  80/tcp: 8080

options:
  log:
    level: "warning"

  ha_connect:
    ha_url: "http://homeassistant.local:8123"
    ha_token:

  balcony_power_station:
    phase: "L2"

  shelly_pro3em:
    device_name: "shelly-pro3em-emu"
    device_id: "shelly-pro3em-emu-1"

  sensors:
    total:
      power: ""
      power_from_grid: "sensor.tibber_pulse_loftness_leistung"
      power_to_grid: "sensor.tibber_pulse_loftness_einspeiseleistung"
      energy: "sensor.tibber_pulse_loftness_zahlerstand_verbrauch"

    phase_l1:
      circuits: "Herd, Schlafzimmer, Bad, Keller"
      voltage: "sensor.tibber_pulse_loftness_spannung_l1"
      current: "sensor.tibber_pulse_loftness_stromstarke_l1"
      power: ""

    phase_l2:
      circuits: "Herd, Wohnzimmer, Balkonkraftwerk, Waschmaschine"
      voltage: "sensor.tibber_pulse_loftness_spannung_l2"
      current: "sensor.tibber_pulse_loftness_stromstarke_l2"
      power: ""

    phase_l3:
      circuits: "Herd, Küche, Geschirrspüler, Kühlschrank"
      voltage: "sensor.tibber_pulse_loftness_spannung_l3"
      current: "sensor.tibber_pulse_loftness_stromstarke_l3"
      power: ""

schema:
  log:
    level: list(critical|error|warning|info|debug)

  ha_connect:
    ha_url: str
    ha_token: str

  balcony_power_station:
    phase: str?

  shelly_pro3em:
    device_name: str
    device_id: str

  sensors:
    total:
      power: str?
      power_from_grid: str?
      power_to_grid: str?
      energy: str?

    phase_l1:
      circuits: str?
      voltage: str?
      current: str?
      power: str?

    phase_l2:
      circuits: str?
      voltage: str?
      current: str?
      power: str?

    phase_l3:
      circuits: str?
      voltage: str?
      current: str?
      power: str?
