name: Builder

on:
  push:
    branches: [dev]
  pull_request:
    branches: [dev]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        arch: [amd64, aarch64]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Get add-on info
        id: info
        uses: home-assistant/actions/helpers/info@master
        with:
          path: ./addon-shelly-emu

      - name: Decide build args
        id: args
        run: |
          # PR = Testbuild, Push = echter Build
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            echo "BUILD_ARGS=--test" >> $GITHUB_ENV
          else
            echo "BUILD_ARGS=" >> $GITHUB_ENV
          fi

          # Sauberer Image-Name ohne Dopplungen
          addon_name=$(echo "${{ steps.info.outputs.image }}" | sed 's/^addon-//')
          IMAGE="addon-${addon_name}-dev:${{ steps.info.outputs.version }}"
          echo "IMAGE=$IMAGE" >> $GITHUB_ENV

      - name: Login to GitHub Container Registry
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build add-on
        uses: home-assistant/builder@2025.11.0
        with:
          args: |
            --target /data/addon-shelly-emu \
            --${{ matrix.arch }} \
            --image "ghcr.io/${{ github.repository_owner }}/addon-shelly-emu-${{ matrix.arch }}"

#            --image "ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE }}"
