name: Builder

on:
  push:
    branches: [dev]
  pull_request:
    branches: [dev]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        arch: [amd64, aarch64]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Add-on info
        id: info
        uses: home-assistant/actions/helpers/info@master
        with:
          path: ./addon-shelly-emu

      - name: Login to GHCR
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build add-on
        uses: home-assistant/builder@2025.09.0
        with:
          args: |
            --addon \
            --target /data/addon-shelly-emu \
            --${{ matrix.arch }}
